#row4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px 85px;

    figure {
        width: 350px;
        height: 200px;
        background-size: 350px;
        background-repeat: no-repeat;
        display: inline-block;
        margin: 15px;

        p {
            text-align: right;
            padding: 0 25px;
            font-family: 'Lato', sans-serif;    
            font-size: 20px;
            font-weight: 900;
        }
    }
}

#bowtie {
    background-image: url("assets/bow-ties@1.5x.jpg");
}

#pocketsquare {
    background-image: url("assets/pocket-squares@1.5x.jpg");

    section {
        margin-top: 20px;
    }

    p {
        margin: 0;
    }
}

#tiebar {
    background-image: url("assets/tie-bars@1.5x.jpg");
}
