body {
    margin: 0;
}

/*Section 1*/

#row1 {
    background-color: #fa6938;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 7px 100px;
    margin: 0;
}

#topnav a {
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-size: 16px;
    font-family: 'Inder', sans-serif;
    font-weight: 5;
    padding-left: 10px;
    padding-right: 10px;
}

#navbutton {
    display: inline-block;
    background-color: #c7532c;
    padding: 3px;
    text-transform: uppercase;
    border-radius: 6px;
}

/*Section 2*/

#cartrow {
    height: 140px;
    border-bottom: 5px solid transparent;
    border-image: url(assets/perforated-bottom@2x.png) 30 30 repeat;
}

.row2 {
    display: inline-block;
}

#logo img {
    margin: 0 20px 0 60px;
    height: 120px;

}

#collection {
    vertical-align: top;
    padding: 0 0 0 20px;
}

.categories {
    padding: 65px 10px;
    display: inline-block;
    height: 130px;
    text-decoration: none;
    color: #444444;
    font-family: 'Titillium Web', sans-serif;
    font-size: 28px;
}

#cart {
    width: 35px;
    height: 30px;
    background-image: url(assets/sprite@2x.png);
    background-position: -85px -28px;
    margin: 0;
}

#cartcontainer {
    height: 130px;
    vertical-align: top;
    padding: 65px 15px 65px 120px;
}

#cartthings {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: solid 1px lightgray;
}

#zero {
    background-color: #c8c8c8;
    color: white;
    padding: 2px 8px;
}

.cartbox {
    margin: 5px;
    font-family: 'Titillium Web', sans-serif;
}

#sir {
    padding-bottom: 10px;
    text-align: right;
}

#signin {
    height: 130px;
    vertical-align: top;
    margin: 45px 0;
}

#signin section a {
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    color: #838383;
    text-transform: uppercase;
    font-size: 12px;
}

#magnify {
    width: 38px;
    height: 20px;
    background-image: url(assets/sprite@2x.png);
    background-position: 3px -16px;
    background-size: 1200%;
    margin: 5px 0 0 0;
    display: inline-block;
    padding: 0;
}

#search {
    border: 0;
    vertical-align: top;
    font-size: 15px;
    font-family: 'Titillium Web', sans-serif;
    width: 100px;
}

#searchbox {
    border: 1px solid #c2c2c2;
    outline: 5px solid #f1f1f1;
    width: 150px;
    vertical-align: top;
}

/*Page 2*/

#page2 {
    background-color: #f4f4f4;
}

#tyingbetter {
    color: black;
    font-size: 60px;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    padding-bottom: 1px;
    font-weight: 400;
    margin-top: 0;
}

#tiepics {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px 85px;
    border: 10px solid transparent;
    border-image: url(assets/hatch-light@2x.png);
    border-image-slice: 0 0 14 0;
    border-image-repeat: repeat;
}

.tiebg {
    width: 400px;
    height: 200px;
    background-size: 225px;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 15px;
}

.tiebg a {
    text-decoration: none;
    cursor: pointer;
}

.tiebg p {
    text-align: center;
    padding: 65px 0 0 0;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    text-shadow: 4px 4px 8px #000000;
}

.tiebg:hover {
    opacity: 0.6;
    cursor: pointer;
}

#fourinhand {
    background-image: url("http://www.tie-a-tie.net/wp-content/uploads/2016/05/TAT_FourInHand.jpg");
}

#pratt {
    background-image: url("http://www.tie-a-tie.net/wp-content/uploads/2016/05/TAT_PRATT.jpg");
}

#halfwindsor {
    background-image: url("http://www.tie-a-tie.net/wp-content/uploads/2016/05/TAT_HalfWinsor.jpg");
}

#halfwindsor p {
    color: yellow;
}

#windsor {
    background-image: url("http://www.tie-a-tie.net/wp-content/uploads/2016/05/TAT_Windsor.jpg");
}

#tiegraphic img {
    display: inline-block;
    padding-left: 200px;
}


/*Section 6*/

#row6 {
    display: flex;
    justify-content: space-around;
    align-content: center;
    border-bottom: 5px solid transparent;
    border-image: url(assets/perforated-bottom@2x.png) 30 30 repeat;
    padding: 65px 65px 45px 65px;
}

#row6 h3 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}

#row6 img {
    width: 250px;
}

#row6 p {
    margin: 3px 0;
    font-family: sans-serif;
    font-size: 12px;
}

#row6 input {
    padding: 8px 5px;
    margin: 20px 0;
    width: 70%;
    border: 1px solid lightgray;
    outline: 5px solid #f1f1f1;
}

.topline {
    padding-top: 6px;
    color: #595959;
}

.link {
    color: #62b6ff;
}

#socialmedia {
    padding-top: 8px;
}

#fb {
    width: 50px;
    height: 50px;
    background-image: url(assets/sprite@2x.png);
    background-position: -299px 6px;
    background-size: 900%;
    background-repeat: no-repeat;
    margin: 0;
    display: inline-block;
}

#pint {
    width: 50px;
    height: 50px;
    background-image: url(assets/sprite@2x.png);
    background-position: -299px -40px;
    background-size: 900%;
    background-repeat: no-repeat;
    margin: 0;
    display: inline-block;
}

#twit {
    width: 50px;
    height: 50px;
    background-image: url(assets/sprite@2x.png);
    background-position: -299px -85px;
    background-size: 900%;
    background-repeat: no-repeat;
    margin: 0;
    display: inline-block;
}

.row6text {
    color: #595959;
}

#buttonscribe {
    color: white;
    background-color: #62b6ff;
    padding: 5px 10px;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    border-radius: 5px;
    text-transform: uppercase;
}

/*Section 7*/

#row7 {
    background-color: #f4f4f4;
    height: 250px;
}

#row7top {
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
}

#row7box1 {
    display: inline-flex;
    justify-content: flex-start;
    width: 500px;
    height: 150px;
    vertical-align: top;
}
#row7box1 section {
    height: 50px;
    margin: 0 25px;
}

#row7box1 section h4 {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 0;
}

#row7box1 section p {
    margin: 2px 0;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: gray;
    margin: 3px 0;
}

#row7box2 {
    background-color: #a2afc0;
    width: 275px;
    height: 125px;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    border: 1px solid gray;
    color: white;
    padding: 10px 10px 0 10px;
    margin-right: 25px;
}

#here {
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    font-size: 23px;
    font-weight: 100;
    margin: 0;
}

.there {
    display: inline-block;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 100;
    vertical-align: top;
}

#email {
    margin-bottom: 0;
}

#number {
    padding: 0 0 10px 0;
    margin: 0;
}

#contactbutton {
    background-color: #62b6ff;
    padding: 8px 10px;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: 100;
    border: 1px solid gray;
    margin: 30px 0 0 5px;
}

#row7bottom {
    padding-left: 85px;
}

#row7bottom p {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: gray;
}

#gravity {
    margin-left: 15px;
}