body {
    margin: 0;
}

/*Section 1*/

#row1 {
    background-color: #fa6938;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 7px 100px;
    margin: 0;
}

#topnav a {
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-size: 16px;
    font-family: 'Inder', sans-serif;
    font-weight: 5;
    padding-left: 10px;
    padding-right: 10px;
}

#navbutton {
    display: inline-block;
    background-color: #c7532c;
    padding: 3px;
    text-transform: uppercase;
    border-radius: 6px;
}

/*Section 2*/

#cartrow {
    height: 140px;
    border-bottom: 5px solid transparent;
    border-image: url(assets/perforated-bottom@2x.png) 30 30 repeat;
}

.row2 {
    display: inline-block;
}

#logo img {
    margin: 0 20px 0 60px;
    height: 120px;

}

#collection {
    vertical-align: top;
    padding: 0 0 0 20px;
}

.categories {
    padding: 65px 10px;
    display: inline-block;
    height: 130px;
    text-decoration: none;
    color: #444444;
    font-family: 'Titillium Web', sans-serif;
    font-size: 28px;
}

#cart {
    width: 35px;
    height: 30px;
    background-image: url(assets/sprite@2x.png);
    background-position: -85px -28px;
    margin: 0;
}

#cartcontainer {
    height: 130px;
    vertical-align: top;
    padding: 65px 15px 65px 140px;
}

#cartthings {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: solid 1px lightgray;
}

#zero {
    background-color: #c8c8c8;
    color: white;
    padding: 2px 8px;
}

.cartbox {
    margin: 5px;
    font-family: 'Titillium Web', sans-serif;
}

#signin {
    height: 130px;
    vertical-align: top;
    margin: 45px 0;
}

#signin section a {
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    color: #838383;
    text-transform: uppercase;
    font-size: 12px;
}

#magnify {
    width: 38px;
    height: 20px;
    background-image: url(assets/sprite@2x.png);
    background-position: 3px -16px;
    background-size: 1200%;
    margin: 5px 0 0 0;
    display: inline-block;
    padding: 0;
}

#search {
    border: 0;
    vertical-align: top;
    font-size: 15px;
    font-family: 'Titillium Web', sans-serif;
    width: 100px;
}

#searchbox {
    border: 1px solid #c2c2c2;
    width: 150px;
    margin: 0 0 5px 0;
}

/*Section 3*/

#row3 {
    background-color: #f4f4f4;
    position: relative;
    bottom: 1px;
}

#tiebox {
    display: flex;
    justify-content: center;
    align-content: flex-start;
}

#tiebox figure {
    margin: 0 10px 0 10px;
}

#tiebox figure figcaption {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

#tieboxtext {
    color: black;
    font-size: 60px;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    padding-bottom: 15px;
}